<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cordova-plugin-camaa-xcframework"  version="2022.8.1">
    <name>CAMAA</name>
    <description>CAMAA Cordova library plugin. </description>
    <license>Apache 2.0</license>
    <keywords>CAMAA Library</keywords>
    <js-module src="AXALoader.js" name="CAMAA">
        <clobbers target="camaa"/>
        <runs/>
    </js-module>
    <platform name="ios">
        <hook type="before_plugin_install" src="scripts/beforeAddHook.js" />
        <hook type="before_plugin_rm" src="scripts/beforeRmHook.js" />

        <config-file target="config.xml" parent="/*">
            <feature name="CAMAAInitializer">
                <param name="ios-package" value="CAMAAInitializer"/>
                <!--<param name="onload" value="true" /> -->
            </feature>
        </config-file>
        <framework src="src/ios/CAMobileAppAnalytics.xcframework" custom="true" />

        <resource-file src="src/ios/CaMDOInterceptor.js"/>
        <resource-file src="src/ios/CaMDOIntegration.js"/>

        <header-file src="src/ios/CAMAAInitializer.h" />
        <source-file src="src/ios/CAMAAInitializer.m" />
        
        <resource-file src="cordova_camdo.plist"/>

        <plugins-plist key="NSLocationAlwaysUsageDescription" string="Usage statistic information" />


    </platform>
    <platform name="android">

        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="CAMAAInitializer" >
                <param name="android-package" value="CAMAAInitializer"/>
            </feature>
        </config-file>
        <source-file src="src/android/CAMAAInitializer.java" target-dir="src" />
        

    </platform>
</plugin>
